- name: 创建k8s-master
  hosts: etcd
  become: true
  tasks:
    - name: 创建k8s-master pki 文件
      file:
        path: /etc/kubernetes/manifests
        state: directory
        owner: root
        group: root
        mode: 0644
    - name: 分发k8s-master证书
      copy:
        src: /tmp/ubuntu/etcd/{{ item }}/pki/
        dest: /etc/kubernetes/manifests
        owner: root
        group: root
        mode: 0644
      with_items: "{{ groups['etcd'] | map('extract', hostvars, 'ansible_ssh_host') | list }}"
    - name:
      file:
        path: /etc/kubernetes/manifests/etcd
        state: absent
    - name: 下载kubrnetes源验证key
      shell: |
        curl -fsSL https://mirrors.aliyun.com/kubernetes-new/core/stable/{{ version }}/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        echo "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://mirrors.aliyun.com/kubernetes-new/core/stable/{{ version }}/deb/ /" | tee /etc/apt/sources.list.d/kubernetes.list
        apt update
      when: version is defined
    - name: 安装kubrnetes
      apt:
        name:
          - kubelet
          - kubeadm
          - kubectl
      when: version is defined
    - name:
      file:
        path: /etc/systemd/system/kubelet.service.d/
        state: directory
        owner: root
        group: root
        mode: 0644
    - name: 创建顶层kubelet配置文件
      copy:
        dest: /etc/systemd/system/kubelet.service.d/kubelet.conf
        content: |
          apiVersion: kubelet.config.k8s.io/v1beta1
          kind: KubeletConfiguration
          authentication:
            anonymous:
              enabled: false
            webhook:
              enabled: false
          authorization:
            mode: AlwaysAllow
          cgroupDriver: systemd
          address: 127.0.0.1
          containerRuntimeEndpoint: unix:///var/run/containerd/containerd.sock
          staticPodPath: /etc/kubernetes/manifests
        mode: 0644
        owner: root
        group: root
    - name: 创建 etcd server manager
      copy:
        dest: /etc/systemd/system/kubelet.service.d/20-etcd-service-manager.conf
        content: |
          [Service]
          ExecStart=
          ExecStart=/usr/bin/kubelet --config=/etc/systemd/system/kubelet.service.d/kubelet.conf
          Restart=always
    - name: 重启kubelet
      systemd:
        name: kubelet
        daemon_reload: true
        state: restarted
    - name: 创建k8s config配置文件
      shell: |
        kubeadm config print init-defaults --component-configs KubeProxyConfiguration --component-configs KubeletConfiguration > /tmp/cluster.yaml
