[master]
master1 ansible_ssh_host=<CONTROL_PLANE_IP_1> ansible_ssh_user=<SSH_USER> ansible_ssh_pass=<SSH_PASSWORD>
master2 ansible_ssh_host=<CONTROL_PLANE_IP_2> ansible_ssh_user=<SSH_USER> ansible_ssh_pass=<SSH_PASSWORD>
master3 ansible_ssh_host=<CONTROL_PLANE_IP_3> ansible_ssh_user=<SSH_USER> ansible_ssh_pass=<SSH_PASSWORD>


[worker]
worker1 ansible_ssh_host=<WORKER_IP_1> ansible_ssh_user=<SSH_USER> ansible_ssh_pass=<SSH_PASSWORD>
worker2 ansible_ssh_host=<WORKER_IP_2> ansible_ssh_user=<SSH_USER> ansible_ssh_pass=<SSH_PASSWORD>
worker3 ansible_ssh_host=<WORKER_IP_3> ansible_ssh_user=<SSH_USER> ansible_ssh_pass=<SSH_PASSWORD>

[k8s:children]
master
worker

[k8s:vars]
etcd_mode=internal
kube_vip_address=<KUBE_VIP>
kube_vip_port=6443
kube_vip_interface=<NETWORK_INTERFACE>
kube_pod_cidr=<POD_CIDR>
