[master]
master1 ansible_ssh_host=192.168.51.68
master2 ansible_ssh_host=192.168.51.166
master3 ansible_ssh_host=192.168.51.191

[worker]
worker1 ansible_ssh_host=192.168.51.90

[k8s:children]
master
worker

[k8s:vars]
etcd_mode=internal
kube_vip_address=192.168.51.100
kube_vip_interface=enp6s0
kube_pod_cidr=10.244.0.0/16
ansible_ssh_user=k8s
ansible_ssh_pass=k8ssecret
