{
  "CN": "k8s-etcd-cluster",
  "hosts": [
    "127.0.0.1",
    "localhost"{% for host in groups['etcd'] %},
    "{{ host }}",
    "{{ hostvars[host].ansible_host | default(hostvars[host].ansible_ssh_host) }}"{% endfor %}
  ],
  "key": { "algo": "rsa", "size": 2048 },
  "names": [
    {
      "C": "k8s",
      "ST": "k8s",
      "L": "k8s",
      "O": "etcd",
      "OU": "System"
    }
  ]
}
