global_defs {
   notification_email {
     username@domain.com
   }
   notification_email_from Alexandre.Cassen@firewall.loc
   smtp_server ${smtp_server}
   smtp_connect_timeout 30
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
   vrrp_garp_interval 0
   vrrp_gna_interval 0
}

vrrp_instance k8s_vip {
    state {{ kp_state }}
    interface eth0
    virtual_router_id 51
    priority {{ kp_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 12345
    }
    virtual_ipaddress {
        ${vip}
    }
}
